* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-size: 62.5%;
    text-decoration: none;
    list-style: none;
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;
    margin: 0 auto;
}

a {
    font-weight: 500;
    color: #0b70cf;
    text-decoration: none;
}
a:hover {
    color: white;
}

body {
    margin: 0;
    display: flex;
    justify-content: center;
    min-width: 320px;
    min-height: 100vh;
    color: #0b70cf;
    background: rgb(110, 205, 255);
    background: linear-gradient(
        180deg,
        rgba(110, 205, 255, 1) 0%,
        rgba(255, 255, 255, 1) 8%,
        rgba(47, 183, 254, 1) 74%,
        rgba(110, 205, 255, 1) 100%
    );
}

// .container {
//   display: flex;
//   flex-direction: column;
//   justify-content: center;
//   align-items: center;

// }

header {
    position: relative;
    margin-top: 1.2rem;
    width: 100vw;
    text-align: center;

    h1 {
        font-size: 1.7rem;
        line-height: 1.1;
    }
}

h2 {
    font-size: 0.7rem;
    font-weight: 400;
}

.search-section {
    margin-top: 1.4rem;
    form {
        display: flex;
        justify-content: center;
        gap: 1rem;
        margin-bottom: 2rem;
        button {
            border: 0.1rem solid rgba(110, 205, 255, 1);
            background-color: rgba(110, 205, 255, 1);
            border-radius: 1rem;
            padding-inline: 1rem;
            height: 4rem;
        }
        input {
            border: 0.1rem solid rgba(110, 205, 255, 1);
            border-radius: 1rem;
            padding: 1rem;
            margin-bottom: 2rem;
        }
        select {
            border: 0.01rem solid rgba(110, 205, 255, 1);
            border-radius: 1rem;
            padding: 1rem;
            margin-bottom: 2rem;
            margin-right: 0.1rem;
            background-color: white;
        }
    }
}

.display {
    text-align: center;
    width: 100vw;
    background-color: rgba(240, 255, 255, 0.222);
}

.main-weather-display {
    display: flex;
    flex-direction: column;

    .date {
        font-size: 1.7rem;
        margin-bottom: 1rem;
    }

    .location {
        color: rgba(47, 183, 254, 1);
        line-height: 0%;

        font-size: 1.7rem;
    }

    .temperature {
        margin-top: 1.5rem;
        font-size: 5rem;
        // line-height: 0%;
    }

    span {
        font-size: 4rem;

        .main-weather-image {
            width: 10rem;
        }
    }
}

.main-weather-display-info {
    display: flex;
    flex-direction: column;

    .main-weather {
        // line-height: 0%;
        font-size: 1.5rem;
    }

    .suntime {
        padding-top: 0.25rem;
        padding-bottom: 0.5rem;
        line-height: 0%;
        font-size: 1.5rem;
    }
}

.weather-info {
    display: flex;
    justify-content: center;
    gap: 1.5rem;
    top: 36.7rem;
    text-align: center;
    width: 100vw;
    line-height: 25%;
    font-size: 1.5rem;
    background-color: rgba(240, 255, 255, 0.222);
    padding-bottom: 1.5rem;
}

.five-day-weather-section {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 1rem;
    margin-top: 2rem;
    font-size: 1rem;
    // line-height: 1px;
    padding-inline: 1rem;

    .five-day-weather-image {
        width: 4rem;
    }

    .five-day-weather {
        line-height: normal;

        padding-block: 0.5rem;
        font-size: 1rem;
    }

    .windspeed {
        line-height: normal;
        padding-block: 0.5rem;
        font-size: 1rem;
    }
}

footer {
    position: absolute;
    bottom: 0px;
    text-align: center;
    padding-block: 1rem;
    margin: 0 auto;
    width: 100vw;
    background-color: rgba(240, 255, 255, 0.222);
    h2 {
        font-size: 1.1rem;
        color: #0b70cf;
    }
}

@media (min-width: 768px) {
    body {
        min-width: 768px;

        h1 {
            font-size: 2rem;
        }

        .main-weather-display {
            .date {
                font-size: 3.5rem;
            }
            .location {
                font-size: 3.5rem;
            }
            .temperature {
                margin-top: 4rem;
            }
            span {
                .main-weather-image {
                    width: 16rem;
                }
            }
        }

        .main-weather-display-info {
            .main-weather {
                font-size: 3rem;
                padding-bottom: 3rem;
            }
            .suntime {
                font-size: 2rem;
            }
        }
        .weather-info {
            font-size: 2rem;
            padding-top: 1rem;
            padding-bottom: 3rem;
        }

        .five-day-weather-section {
            padding-block: 1rem;
            margin-top: 3.9rem;

            .five-day-weather-image {
                width: 6rem;
            }
            .wetterdata-item {
                font-size: 1.8rem;
                .five-day-weather {
                    font-size: 1.8rem;
                }
                .windspeed {
                    font-size: 1.8rem;
                }
            }
        }
        footer {
            h2 {
                font-size: 1.5rem;
            }
        }
    }
}

@media (min-width: 992px) {
    body {
        min-width: 992px;

        h1 {
            font-size: 3.5rem;
        }

        .main-weather-display {
            .date {
                font-size: 2.5rem;
            }
            .location {
                font-size: 2.5rem;
            }
            .temperature {
                margin-top: 4rem;
            }
            span {
                .main-weather-image {
                    width: 10rem;
                }
            }
        }
        .main-weather-display-info {
            .main-weather {
                font-size: 2rem;
                padding-bottom: 1rem;
            }
            .suntime {
                font-size: 1.8rem;
            }
        }
        .weather-info {
            font-size: 1.8rem;
        }

        .five-day-weather-section {
            margin-top: 3.7rem;
            padding-block: 4rem;

            .wetterdata-item {
                font-size: 1.8rem;
                .five-day-weather {
                    font-size: 1.8rem;
                }
                .windspeed {
                    font-size: 1.8rem;
                }
            }
        }
        footer {
            position: relative;
            margin-top: 4.5rem;
            h2 {
                font-size: 1.5rem;
            }
        }
    }
}
